<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
    <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" style="height: 250px" class="col-md-12">


                        <div class="mx-2">

                            <div class="alert alert-success mt-3 mx-2" role="alert">
                                We have sent OTP to your Email Successfully!!
                            </div>

                            <form th:action="@{/send-otp}" method="post">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Enter OTP</label>
                                    <input name="otp" required type="number" class="form-control"
                                           id="exampleInputEmail1" aria-describedby="emailHelp">

                                    <div class="d-grid gap-2 col-6 mx-auto my-3">
                                        <button class="btn btn-warning" type="submit">Verify OTP</button>
                                    </div>
                                </div>
                            </form>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>